@import './base.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  color: #303133;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  margin: 10px;
}

pre {
  padding: 5px 10px;
  text-align: left;
  margin: auto;
  border-radius: 5px;
  background-color: #eee;
  word-wrap: break-word;
  white-space: pre-line;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  outline: none;
  border: none;
}

li {
  list-style-type: none;
}

blockquote {
  padding: 10px 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  color: #909399;
}